.line {
  position: relative;
  height: 100%;
  
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 2;
}
